{% extends "base.html" %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for("core.index") }}">{{ _("Home") }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ _("Profile") }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ _("Edit Profile") }}</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm" method="post" class="form" novalidate>
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="display_name">{{ _("Display Name") }}</label>
                            <input id="display_name" class="form-control" type="text" readonly placehaolder="{{ current_user.display_name }}">
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class_="form-control is-" + ('in' if form.email.errors else '') + 'valid', size=32) }}
                            {% if form.email.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class_="form-control is-" + ('in' if form.password.errors else '') + 'valid', size=32) }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password2.label }}
                            {{ form.password2(class_="form-control is-" + ('in' if form.password2.errors else '') + 'valid', size=32) }}
                            {% if form.password2.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.password2.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    {{ form.submit(form='loginForm', class="btn btn-success") }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ _("Subscriptions") }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% if current_user.subscriptions %}
                        {% for subscription in current_user.subscriptions %}
                            <li class="list-group-item p-0">
                                <a class="d-block m-0 p-3 float-sm-left" href="{{ url_for('core.collection', id=subscription.collection.id) }}">
                                    {{ subscription.collection.title }}
                                </a>
                                <div class="btn-group btn-sm-group float-sm-right my-2 mx-2">
                                    <a class="btn btn-primary" href="{{ url_for("auth.subscription", id=subscription.collection.id) }}"><i class="cogs icon"></i></a>
                                    <a class="btn btn-primary" href="{{ url_for("auth.unsubscribe", id=subscription.collection.id) }}"><i class="trash alternate icon"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item text-muted m-0 p-3">{{ _("This collection has no parent collections.") }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}