{% extends "base.html" %}

{% block content %}
<div class="ui two column stackable page grid">
    <div class="eight wide column">
        <div class="ui segments">
            <div class="ui top attached segment">
                <h3>{{ _("Edit Profile") }}</h3>
            </div>
            {% if form.errors %}
                <div class="ui attached small error message">
                    <div class="header">{{ _("Errors") }}</div>
                    <ul>{% for field_name, errors in form.errors.items() %}{% with field=form[field_name] %}{% for error in errors %}
                        <li>{{ field.label.text }}: {{ error }}</li>{% endfor %}{% endwith %}{% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="ui attached segment">
                <form id="loginForm" method="post" class="ui {% if form.errors %}error {% endif %}form" novalidate>
                    {{ form.csrf_token }}
                    <div class="field">
                        {{ user.display_name.label }}
                        <input type="text" placeholder="{{ user.display_name }}" readonly>
                    </div>
                    <div class="field{% if form.email.errors %} error{% endif %}">
                        {{ form.email.label }}
                        {{ form.email(size=32) }}
                    </div>
                    <div class="field{% if form.password.errors %} error{% endif %}">
                        {{ form.password.label }}
                        {{ form.password(size=32) }}
                    </div>
                    <div class="field{% if form.password2.errors %} error{% endif %}">
                        {{ form.password2.label }}
                        {{ form.password2(size=32) }}
                    </div>
                </form>
            </div>
            <div class="ui bottom attached segment">
                {{ form.submit(form='loginForm', class="ui button positive") }}
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h3>{{ _("Subscriptions") }}</h3>
            </div>
            {% if current_user.subscriptions %}
                {% for subscription in current_user.subscriptions %}
                    <div class="ui segment" onclick="window.location='{{ url_for('core.collection', id=subscription.collection.id) }}';" style="cursor: pointer;">
                        {{ subscription.collection.title }}
                        <div class="ui right floated icon buttons">
                            <a class="ui mini compact button" href="{{ url_for("auth.subscription", id=subscription.collection.id) }}"><i class="cogs icon"></i></a>
                            <a class="ui mini compact button" href="{{ url_for("auth.unsubscribe", id=subscription.collection.id) }}"><i class="trash alternate icon"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ui segment">
                    <small>{{ _("No Subscriptions yet.") }}</small>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endblock %}