{% extends "base.html" %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for("core.index") }}">{{ _("Home") }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ _("Register") }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card mx-auto">
                <div class="card-header text-center">
                    <h3>{{ _('Register') }}</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm" method="post" class="form" novalidate>
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.display_name.label(for_="display_name") }}
                            {{ form.display_name(class_="form-control is-" + ('in' if form.display_name.errors else '') + 'valid', size=32) }}
                            <small class="form-text text-muted">{{ _('Please note that the display name will be treated as though it were your real name.') }}</small>
                            {% if form.display_name.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.display_name.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(for_="email") }}
                            {{ form.email(class_="form-control is-" + ('in' if form.email.errors else '') + 'valid', size=32) }}
                            {% if form.email.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(for_="password") }}
                            {{ form.password(class_="form-control is-" + ('in' if form.password.errors else '') + 'valid', size=32) }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password2.label(for_="password2") }}
                            {{ form.password2(class_="form-control is-" + ('in' if form.password2.errors else '') + 'valid', size=32) }}
                            {% if form.password2.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.password2.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    {{ form.submit(form='loginForm', class="btn btn-success") }}
                    <a class="btn btn-info" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                    <a class="btn btn-danger" href="{{ url_for('core.index') }}">{{ _('Cancel') }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}