{% extends "base.html" %}

{% block content %}
<div class="ui one column stackable centered aligned page grid">
    <div class="column twelve wide">
        <div class="ui top attached secondary menu">
            <div class="item">
                <h3>{{ _('Register') }}</h3>
            </div>
        </div>
        <div class="ui attached segment">
            <form id="loginForm" method="post" class="ui {% if form.errors %}error {% endif %}form" novalidate>
                {{ form.csrf_token }}
                <div class="field{% if form.username.errors %} error{% endif %}">
                    {{ form.username.label }}
                    {{ form.username(size=32) }}
                </div>
                <div class="field{% if form.email.errors %} error{% endif %}">
                    {{ form.email.label }}
                    {{ form.email(size=32) }}
                </div>
                <div class="field{% if form.password.errors %} error{% endif %}">
                    {{ form.password.label }}
                    {{ form.password(size=32) }}
                </div>
                <div class="field{% if form.password2.errors %} error{% endif %}">
                    {{ form.password2.label }}
                    {{ form.password2(size=32) }}
                </div>
            </form>
        </div>
        <div class="ui bottom attached segment">
            {{ form.submit(form='loginForm', class="ui button positive") }}
            <a class="ui button" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
            <a class="ui button negative" href="{{ url_for('core.index') }}">{{ _('Cancel') }}</a>
        </div>
    </div>
</div>
{% endblock %}