{% extends "base.html" %}

{% block content %}
<div class="ui one column stackable centered aligned page grid">
    <div class="column twelve wide">
        <div class="ui segments">
            <div class="ui center aligned segment">
                <h2>{{ _('Register') }}</h2>
            </div>
            <div class="ui segment">
                <form id="loginForm" method="post" class="ui form" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="field{% if form.username.errors %} error{% endif %}">
                        {{ form.username.label }}
                        {{ form.username(size=32) }}
                    </div>
                    <div class="field{% if form.email.errors %} error{% endif %}">
                        {{ form.email.label }}
                        {{ form.email(size=32) }}
                    </div>
                    <div class="field{% if form.password.errors %} error{% endif %}">
                        {{ form.password.label }}
                        {{ form.password(size=32) }}
                    </div>
                    <div class="field{% if form.password2.errors %} error{% endif %}">
                        {{ form.password2.label }}
                        {{ form.password2(size=32) }}
                    </div>
                </form>
            </div>
            <div class="ui segment">
                {{ form.submit(form='loginForm', class="ui button positive") }}
                <a class="ui button" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                <a class="ui button negative" href="{{ url_for('core.index') }}">{{ _('Cancel') }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}