{% extends 'base.html' %}

{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3><i class="calendar icon"></i>&nbsp;{{ _('Upcoming Talks') }}</h3>
    </div>
</div>
<div class="ui bottom attached segment">
    {{ table.generate_html() | safe }}
</div>
{% endblock content %}
{% block script %}
{{ table.generate_js(url_for('api.user_talk_table')) | safe }}
<script type="text/javascript">
    $('#{{ table.table_id }}').on('click', '.{{ table.table_id }}-row', function () {window.open("{{ url_for('core.talk') }}/" + $(this).attr('id'), "_self");});
</script>
{% endblock script %}