[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
mistune = "*"
python-dateutil = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-login = "*"
flask-markdown = "*"
flask-pagedown = "*"
flask-permissions = "*"
flask-babel = "*"
flask-moment = "*"

[requires]
python_version = "3.7"
