[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
dill = "*"
python-dotenv = "*"
python-dateutil = "*"
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
flask-permissions = "*"
flask-babel = "*"
flask-moment = "*"
markdown = "*"
pygments = "*"
pymdown-extensions = "*"
app = {editable = true,version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
