[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[packages]
dill = "*"
python-dotenv = "*"
python-dateutil = "*"
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-caching = "*"
flask-wtf = "*"
WTForms-Alchemy = "*"
flask-mail = "*"
flask-login = "*"
flask-permissions = "*"
flask-babel = "*"
flask-htmlmin = "*"
markdown = "*"
pygments = "*"
pymdown-extensions = "*"
celery = "*"
redis = "*"
watchdog = "*"
app = {version = "*",editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
