<div class="diff ui mini relaxed list">
    {% if diff %}
        {% for field, changeset in diff.items() %}
            <div class="item">
                <div class="content">
                    <span class="ui tiny label grey">{{ field }}</span>
                    <code>{{ changeset["from"] }}</code>
                    <i class="arrow right icon"></i>&nbsp;<code>{{ changeset["to"] }}</code>
                </div>
            </div>
        {% endfor %}
    {% else %}
        No diff
    {% endif %}
</div>