{% include 'snippets/talk/modal_js.html' %}
<script type="text/javascript">
$(document).ready(function() {
    $('#talkTable').DataTable({
        "fixedHeader": {
            "header": true,
        },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "dataType": 'json',
            "contentType": "application/json; charset=utf-8",
            "type": "GET",
            "url":"{{ url_for('api.talk_table') }}",
            "dataSrc": function(json) {
                if (!("talk_fields" in sessionStorage)) {
                    sessionStorage["talk_fields"] = JSON.stringify(json.fields);
                } else if (JSON.stringify(json.fields) !== sessionStorage["talk_fields"]) {
                    // The give fields have updated so clear the whole sessions local storage
                    // "enable"/force repopulation with updated values
                    sessionStorage.clear();
                    sessionStorage["talk_fields"] = JSON.stringify(json.fields);
                }
                return json.data;
            }
        },
        "deferRender": true,
        "columns": [
            { "data": "name" },
            { "data": "timestamp" },
            { "data": "tags" }
        ],
        "createdRow": function ( row, talk, index ) {
            if (!("talk" + talk.id in sessionStorage)) {
                sessionStorage["talk" + talk.id] = JSON.stringify(talk);
            }
            $(row).click(function(event){
                populate_talk_modal(talk.id);
            });
        }
    });
});
</script>