{% extends "admin/base.html" %}
{% block content %}
<div class="ui segments">
    <div class="ui segment">
        <a href="{{ url_for('admin.historyitems', discriminator="collection") }}" class="ui tiny button right floated">{{ _("View related history") }}</a>
        <a href="{{ url_for('admin.collection') }}" class="ui tiny primary button right floated">{{ _("Add new collection") }}</a>
        <div class="floated left">
            <h2><i class="fas fa-list"></i>&nbsp;{{ _('Collections') }}</h2>
        </div>
    </div>
    <div class="ui segment">
        {{ collection_table.generate_html() | safe }}
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    {{ collection_table.generate_js(url_for('api.admin_collection_table')) | safe }}
    $('#collectionTable').on('click', '.collection-row', function () {window.open("{{ url_for('core.collection') }}/" + $(this).attr('id'), "_self");});
    $('#collectionTable').contextMenu({
        selector: '.collection-row',
        callback: function(key, options) {
            var id = $(this).attr('id');
            if (key == "view") {window.open("{{ url_for('core.collection') }}/" + id, "_self");}
            if (key == "edit") {window.open("{{ url_for('admin.collection') }}/" + id, "_self");}
            if (key == "copy") {window.open("{{ url_for('admin.collection') }}/" + id + "?copy=1", "_self");}
            if (key == "delete") {window.open("{{ url_for('admin.collection') }}/" + id + "/delete", "_self");}
        },
        items: {
            "view": {name: "{{ _("View") }}", icon: "far fa-eye"},
            "edit": {name: "{{ _("Edit") }}", icon: "fa-edit"},
            "copy": {name: "{{ _("Copy") }}", icon: "fa-copy"},
            "delete": {name: "{{ _("Delete") }}", icon: "far fa-trash-alt"},
        }
    });
</script>
{% endblock script %}