{% extends "admin/base.html" %}
{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3><i class="calendar icon"></i>&nbsp;{{ _('Talks') }}</h3>
    </div>
    <div class="right labeled icon menu">
        <a href="{{ url_for('admin.historyitems', discriminator="talk") }}" class="ui small button item"><i class="history icon"></i>{{ _("View related history") }}</a>
        <a href="{{ url_for('admin.talk') }}" class="ui small button item"><i class="plus icon"></i>{{ _("Add new talk") }}</a>
    </div>
</div>
<div class="ui bottom attached segment">
    {{ talk_table.generate_html() | safe }}
</div>
{% endblock %}
{% block script %}
{{ talk_table.generate_js(url_for('api.admin_talk_table')) | safe }}
<script type="text/javascript">
    $('#{{ talk_table.table_id }}').on('click', '.{{ talk_table.table_id }}-row', function () {window.open("{{ url_for('core.talk') }}/" + $(this).attr('id'), "_self");});
</script>
{% endblock script %}