{% extends "admin/base.html" %}
{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3><i class="users icon"></i>&nbsp;{{ _('Users') }}</h3>
    </div>
</div>
<div class="ui bottom attached segment">
    {{ user_table.generate_html() | safe }}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    {{ user_table.generate_js(url_for('api.user_table')) | safe }}
    $('#userTable').contextMenu({
        selector: '.user-row',
        callback: function(key, options) {
            var id = $(this).attr('id');
            if (key == "view") {}
            if (key == "edit") {}
            if (key == "delete") {}
        },
        items: {
            "view": {name: "{{ _("View") }}", icon: "add"},
            "edit": {name: "{{ _("Edit") }}", icon: "edit"},
            "delete": {name: "{{ _("Delete") }}", icon: "delete"},
        }
    });
</script>
{% endblock script %}