{% extends "admin/base.html" %}
{% block content %}
<div class="ui segments">
    <div class="ui segment">
        <a href="#" class="ui tiny primary button right floated">{{ _("Add new collection") }}</a>
        <div class="floated left">
            <h2><i class="fas fa-users"></i>&nbsp;{{ _('Users') }}</h2>
        </div>
    </div>
    <div class="ui segment">
        {{ user_table.generate_html() | safe }}
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    {{ user_table.generate_js(url_for('api.user_table')) | safe }}
    $('#userTable').contextMenu({
        selector: '.user-row',
        callback: function(key, options) {
            var id = $(this).attr('id');
            if (key == "view") {}
            if (key == "edit") {}
            if (key == "copy") {}
            if (key == "delete") {}
        },
        items: {
            "view": {name: "{{ _("View") }}", icon: "far fa-eye"},
            "edit": {name: "{{ _("Edit") }}", icon: "fa-edit"},
            "copy": {name: "{{ _("Copy") }}", icon: "fa-copy"},
            "delete": {name: "{{ _("Delete") }}", icon: "far fa-trash-alt"},
        }
    });
</script>
{% endblock script %}