<div class="card">
    <div class="card-header"><h5><i class="fas fa-user"></i> {{ _('Speakers') }}</h5></div>
    <div class="card-body">
        {{ speaker_table.generate_html() | safe }}
    </div>
    <div class="card-footer">
        <a href="{{ url_for('admin.speaker') }}" class="btn btn-primary">{{ _('Add new speaker') }}</a>
    </div>
</div>
{% include 'snippets/speaker/modal.html' %}
{% block script %}
{% include 'snippets/speaker/modal_js.html' %}
<script type="text/javascript">
    {{ speaker_table.generate_js(
        table_url=url_for('api.speaker_table'),
        dom="<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>><'row d-sm-flex justify-content-between'<'mr-auto'i><'mr-auto text-right'p>>"
    ) | safe }}
    $('#speakerTable').on('click', '.speaker-row', function () {populate_speaker_modal($(this).attr('id'));});
    $('#speakerTable').contextMenu({
        selector: '.speaker-row',
        callback: function(key, options) {
            var id = $(this).attr('id');
            if (key == "view") {populate_speaker_modal(id);}
            if (key == "edit") {window.open("{{ url_for('admin.speaker') }}/" + id, "_self");}
            if (key == "copy") {window.open("{{ url_for('admin.speaker') }}/" + id + "?copy=1", "_self");}
            if (key == "delete") {
                $.ajax({
                    url: '{{ url_for("api.speaker") }}/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        alert("deleted " + id);
                        $("#talkTable").ajax.reload();
                        $("#talkTable").draw();
                    }
                });
            }
        },
        items: {
            "view": {name: "{{ _("View") }}", icon: "far fa-eye"},
            "edit": {name: "{{ _("Edit") }}", icon: "fa-edit"},
            "copy": {name: "{{ _("Copy") }}", icon: "fa-copy"},
            "delete": {name: "{{ _("Delete") }}", icon: "far fa-trash-alt"},
        }
    });
</script>
{% endblock script %}