<div class="card border-dark">
    <div class="card-header"><h5><i class="fas fa-tags"></i> {{ _('Tags') }}</h5></div>
    <div class="card-body">
        {{ tag_table.generate_html() | safe }}
    </div>
    <div class="card-footer">
        <form class="form-inline" id="tagForm" method="POST" action="{{ url_for('admin.tag') }}" novalidate>
            {{ tag_form.hidden_tag() }}
            <label class="sr-only" for="name">{{ tag_form.name.label }}</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                {{ tag_form.name(size=32, class_='form-control' + ('' if tag_form.name.errors|length == 0 else 'is-invalid')) }}
                <div class="invalid-feedback">
                    {% for error in tag_form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="input-group-append">
                    {{ tag_form.submit(form='tagForm', class="btn btn-primary rounded-right") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% block script %}
<script type="text/javascript">
    {{ tag_table.generate_js(
        table_url=url_for('api.tag_table'),
        dom="<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>><'row d-sm-flex justify-content-between'<'mr-auto'i><'mr-auto text-right'p>>"
    ) | safe }}
    $('#tagTable').contextMenu({
        selector: '.tag-row',
        callback: function(key, options) {
            console.log(key); 
            console.log(options);
            console.log($(this));  
        },
        items: {
            "edit": {name: "{{ _("Edit") }}", icon: "fa-edit"},
            "delete": {name: "{{ _("Delete") }}", icon: "far fa-trash-alt"},
        }
    });
</script>
{% endblock script %}