{% extends "base.html" %}

{% block content %}
<div class="ui one column stackable centered aligned page grid">
    <div class="column twelve wide">
        <div class="ui segment">
            {% trans %}
                <p>
                    Talks.Tue is project by the <a href="http://mml.cs.uni-tuebingen.de">Chair&nbsp;for&nbsp;the&nbsp;Methods&nbsp;of&nbsp;Machine&nbsp;Learning</a>
                    of the <a href="https://uni-tuebingen.de/">Eberhard&nbsp;Karls&nbsp;University&nbsp;of&nbsp;Tübingen</a>. Additionally it is financially
                    backed by the <a href="https://cyber-valley.de">CyberValley&nbsp;Initiative</a>. The current team behind it consists of:
                    <a href="https://timfi.dev">Tim&nbsp;Fischer&nbsp;(Lead&nbsp;Developer)</a>.
                </p>
            {% endtrans %}
        </div>
    </div>
</div>
{% endblock %}