{% extends 'base.html' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for("core.index") }}">{{ _("Home") }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for("core.collections") }}">{{ _("Collections") }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ collection.title }} (#{{ collection.id }})</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 mb-3">
            <h2>{{ collection.title }}</h2>
        </div>
        <div class="col-sm-5 mb-3">
            <div class="btn-group btn-group-sm d-none d-sm-block float-sm-right" role="group" aria-label="controls">
                {% if can_edit %}
                    <a class="btn btn-primary" href="{{ url_for('core.edit_collection', id=collection.id) }}?next={{ request.path }}"><i class="far fa-edit"></i>&nbsp;{{ _('Edit') }}</a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.is_subscribed_to(collection) %}
                    <a class="btn btn-primary" href="{{ url_for("auth.subscription", id=collection.id) }}?next={{ request.path }}"><i class="edit outline icon"></i>{{ _('Edit Subscription') }}</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for("auth.subscribe", id=collection.id) }}?next={{ request.path }}"><i class="far fa-plus-square"></i>&nbsp;{{ _('Subscribe') }}</a>
                {% endif %}
            </div>
            <div class="btn-group-vertical btn-group-sm d-block d-sm-none" role="group" aria-label="controls">
                {% if can_edit %}
                    <a class="btn btn-primary" href="{{ url_for('core.edit_collection', id=collection.id) }}?next={{ request.path }}"><i class="far fa-edit"></i>&nbsp;{{ _('Edit') }}</a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.is_subscribed_to(collection) %}
                    <a class="btn btn-primary" href="{{ url_for("auth.subscription", id=collection.id) }}?next={{ request.path }}"><i class="edit outline icon"></i>{{ _('Edit Subscription') }}</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for("auth.subscribe", id=collection.id) }}?next={{ request.path }}"><i class="far fa-plus-square"></i>&nbsp;{{ _('Subscribe') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header"><h4><i class="fas fa-info-circle"></i>&nbsp;{{ _("Info") }}</h4></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small class="text-muted">{{ _("Organizer") }}</small><br>
                        <span class="h6">{{ collection.organizer }}</span>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">{{ _("Editors") }}</small><br>
                        <span class="h6">{% for editor in collection.editors %}<span class="ui tiny label grey">{{ editor.display_name }}</span>{% endfor %}</span>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">{{ _("Subscribers") }}</small>
                        <span class="h6">{{ collection.subscriptions|length }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card mx-auto mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                <i class="fab fa-readme"></i>&nbsp;{{ _("Description") }}
                            </a>
                        </li>
                        {% if can_edit %}
                            <li class="nav-item">
                                <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">
                                    <i class="fas fa-history"></i>&nbsp;{{ _("History") }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body tab-content" >
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p class="md">{{ collection.description | markdown }}</p>
                    </div>
                    {% if can_edit %}
                        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                            {% with history=collection.history %}
                                {% include 'snippets/historyitems.html' %}
                            {% endwith %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h4><i class="fas fa-list-alt"></i>&nbsp;{% if collection.is_meta %}{{ _("Child Collections") }}{% else %}{{ _("Talks") }}{% endif %}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% if collection.is_meta %}
                        {% if collection.sub_collections %}
                            {% for sub_collection in collection.sub_collections %}
                                <li class="list-group-item p-0"><a class="d-block m-0 p-3" href="{{ url_for('core.collection', id=sub_collection.id) }}">{{ sub_collection.title }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-muted m-0 p-3">{{ _("This collection has no child collections.") }}</li>
                        {% endif %}
                    {% else %}
                        {% if collection.talks %}
                            {% for talk in collection.talks %}
                                <li class="list-group-item p-0"><a class="d-block m-0 p-3" href="{{ url_for('core.talk', id=talk.id) }}">{{ talk.title }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-muted m-0 p-3">{{ _("This collection contains no talks.") }}</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h4><i class="fas fa-list-alt"></i>&nbsp;{{ _("Parent Collections") }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% if collection.meta_collections %}
                        {% for meta_collection in collection.meta_collections %}
                                <li class="list-group-item p-0"><a class="d-block m-0 p-3" href="{{ url_for('core.collection', id=meta_collection.id) }}">{{ meta_collection.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item text-muted m-0 p-3">{{ _("This collection has no parent collections.") }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}