{% extends "core/_edit_base.html" %}
{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3>{% if new %}{{ _("Create Collection") }}{% else %}{{ _("Edit Collection") }}{% endif %}</h3>
    </div>
    <div class="right labeled icon menu">
        {% if not new %}
            <a id="historyModalTrigger" class="ui small button item"><i class="history icon"></i>{{ _("History") }}</a>
            <a class="ui small button item" href="{{ url_for('core.edit_collection', id=collection.id) }}?copy=1"><i class="clone outline icon"></i>{{ _("Copy") }}</a>
            <a id="deleteModalTrigger" class="ui small button item"><i class="trash alternate outline icon"></i>{{ _("Delete") }}</a>
        {% endif %}
    </div>
</div>
{% if form.errors %}
    <div class="ui attached small error message">
        <div class="header">{{ _("Errors") }}</div>
        <ul>{% for field_name, errors in form.errors.items() %}{% with field=form[field_name] %}{% for error in errors %}
            <li>{{ field.label.text }}: {{ error }}</li>{% endfor %}{% endwith %}{% endfor %}
        </ul>
    </div>
{% endif %}
<div class="ui attached segment">
    <form id="collectionForm" method="post" class="ui {% if form.errors %}error {% endif %}form" novalidate>
        {{ form.csrf_token }}
        <div class="ui stackable grid">
            <div class="{% if has_full_access %}two column{% endif %} row">
                <div class="{% if has_full_access %}twelve{% else %}sixteen{% endif %} wide column">
                    <div class="field{% if form.title.errors %} error{% endif %}">
                        {{ form.title.label }}
                        {{ form.title(size=32) }}
                    </div>
                    <div class="field{% if form.description.errors %} error{% endif %}">
                        {{ form.description.label }}
                        {{ form.description() }}
                    </div>
                </div>
                {% if has_full_access %}
                    <div class="four wide column">
                        <div class="inline field{% if form.is_meta.errors %} error{% endif %}">
                            <div class="ui toggle checkbox">
                                {{ form.is_meta(class_="hidden") }}
                                {{ form.is_meta.label }}
                            </div>
                        </div>
                        <div class="field{% if form.meta_collections.errors %} error{% endif %}">
                            {{ form.meta_collections.label }}
                            {{ form.meta_collections(class_='ui search dropdown') }}
                        </div>
                        <div class="field{% if form.organizer.errors %} error{% endif %}">
                            {{ form.organizer.label }}
                            {{ form.organizer(class_='ui search dropdown') }}
                        </div>
                        <div class="field{% if form.editors.errors %} error{% endif %}">
                            {{ form.editors.label }}
                            {{ form.editors(class_='ui search dropdown') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
<div class="ui bottom attached segment">
    {{ form.submit(form='collectionForm', class="ui button positive") }}
    <a class="ui button negative"href="{{ next }}">{{ _('Cancel') }}</a>
</div>
{% if not new %}
    <div id="historyModal" class="ui tiny longer modal">
        <div class="header">{{ _("History") }}</div>
        <div class="scrolling content">
            {% with history=collection.history %}
                {% include 'snippets/historyitems.html' %}
            {% endwith %}
        </div>
    </div>
    <div id="deleteModal" class="ui tiny longer modal">
        <div class="header">{{ _("Are you sure you want to delete this collection?") }}</div>
        <div class="actions">
            <a class="ui red labeled icon button" href="{{ url_for('core.delete_collection', id=collection.id) }}">
                <i class="trash alternate outline icon"></i>{{ _('Delete') }}
            </a>
            <div class="ui deny button">{{ _('Cancel') }}</div>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block script %}
{{ super() }}
<script>
    var descriptionMDE = new SimpleMDE({ element: $('#description')[0] });
    $('#historyModal').modal('attach events', '#historyModalTrigger', 'show');
    $('#deleteModal').modal('attach events', '#deleteModalTrigger', 'show');
    $('.ui.dropdown').dropdown();
</script>
{% endblock script %}