{% extends "base.html" %}

{% block head %}
<style>
    /* taken and adapted from https://getbootstrap.com/docs/4.3/examples/album */
    .jumbotron {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 0;
        background-color: #fff;
    }
    @media (min-width: 768px) {
        .jumbotron {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    .jumbotron p:last-child {
        margin-bottom: 0;
    }
    .jumbotron-heading {
        font-weight: 300;
    }
    .jumbotron .container {
        max-width: 40rem;
    }
</style>
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Talks.Tue</h1>
        <p class="lead text-muted">{{ _('A simple way to find the best talks at hosted at our University for you.') }}</p>
        <div class="btn-group mr-sm-2" role="group">
            <a class="btn btn-primary my-2" href="{{ url_for('core.talks') }}">{{ _('Talks') }}</a>
            <a class="btn btn-primary my-2" href="{{ url_for('core.collections') }}">{{ _('Collections') }}</a>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for talk in up_next %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><h4>{{ talk.title }}</h4></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-primary" href="{{ url_for('core.talk', id=talk.id) }}">{{ _('View') }}</a>
                                <small class="text-muted">{{ talk.start_timestamp | render_datetime }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}