{% extends "base.html" %}

{% block content %}
<div class="ui one column stackable center aligned page grid segment">
    <div class="column twelve wide">
        <h1>Talks.Tue</h1>
        <p class="lead text-muted">{{ _('A simple way to find the best talks at hosted at our University for you.') }}</p>
        <a href="{{ url_for('core.talks') }}" class="ui button primary">{{ _('Talks') }}</a>
        <a href="{{ url_for('core.collections') }}" class="ui button primary">{{ _('Collections') }}</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.register') }}" class="ui button">{{ _('Register to build your profile') }}</a>
        {% endif %}
    </div>
</div>
<div class="ui cards">
    {% for talk in up_next %}
        <div class="card">
            <div class="content">
                <a href="{{ url_for('core.talk', id=talk.id) }}" class="ui basic button right floated">{{ _('View') }}</a>
                <div class="header">{{ talk.title }}</div>
                <div class="meta"><small>{{ moment(talk.timestamp).calendar() }}</small></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}