{% extends "base.html" %}

{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3>{{ talk.title }}</h3>
    </div>
    <div class="right menu">
        {% if can_edit %}
            <a class="ui small button item" href="{{ url_for('admin.talk', id=talk.id) }}?next={{ request.path }}">{{ _('Edit') }}</a>
        {% endif %}
    </div>
</div>
<div class="ui bottom attached segment two column stackable grid">
    <div class="five wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h4><i class="info circle icon"></i>&nbsp;{{ _("Info") }}</h4>
            </div>
            <div class="ui segment">
                <small class="text-muted">{{ _("Speaker’s name") }}</small><br>
                <span class="h6">{{ talk.speaker_name }}</span>
            </div>
            <div class="ui segment">
                <small class="text-muted">{{ _("Date") }}</small><br>
                <span class="h6">{{ talk.timestamp }}</span>
            </div>
            <div class="ui segment">
                <small class="text-muted">{{ _("Tags") }}</small><br>
                <span class="h6">{% for tag in talk.tags.all %}{% include 'snippets/tag.html' %} {% endfor %}</span>
            </div>
        </div>
        {% if talk.collections.count %}
            <div class="ui segments">
                <div class="ui segment">
                    <h4><i class="list icon"></i>&nbsp;{{ _("Collections") }}</h4>
                </div>
                {% for collection in talk.collections %}
                    <div class="ui segment" onclick="window.location='{{ url_for('core.collection', id=collection.id) }}';" style="cursor: pointer;">
                        {{ collection.title }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="eleven wide column">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="description"><i class="readme icon"></i>&nbsp;{{ _("Description") }}</a>
            <a class="item" data-tab="aboutme"><i class="chalkboard teacher icon"></i>&nbsp;{{ _("Speaker’s about me") }}</a>
            {% if talk.can_edit(current_user) %}
                <a class="item" data-tab="history"><i class="history icon"></i>&nbsp;{{ _("History") }}</a>
            {% endif %}
        </div>
        <div class="ui bottom attached tab segment active" data-tab="description">
            <p class="md">{{ talk.description | markdown }}</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="aboutme">
            <p class="md">{{ talk.speaker_aboutme | markdown }}</p>
        </div>
        {% if talk.can_edit(current_user) %}
            <div class="ui bottom attached tab segment" data-tab="history">
                {% with history=talk.history %}
                    {% include 'snippets/historyitems.html' %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
$('.menu.tabular .item').tab();
</script>
{% endblock script %}