{% extends "core/_edit_base.html" %}
{% block content %}
<div class="ui top attached secondary menu">
    <div class="item">
        <h3>{% if new %}{{ _("Create Talk") }}{% else %}{{ _("Edit Talk") }}{% endif %}</h3>
    </div>
    <div class="right labeled icon menu">
        {% if not new %}
            <a id="historyModalTrigger" class="ui small button item"><i class="history icon"></i>{{ _("History") }}</a>
            <a class="ui small button item" href="{{ url_for('core.edit_talk', id=talk.id) }}?copy=1"><i class="clone outline icon"></i>{{ _("Copy") }}</a>
            <a id="deleteModalTrigger" class="ui small button item"><i class="trash alternate outline icon"></i>{{ _("Delete") }}</a>
        {% endif %}
    </div>
</div>
{% if form.errors %}
    <div class="ui attached small error message">
        <div class="header">{{ _("Errors") }}</div>
        <ul>{% for field_name, errors in form.errors.items() %}{% with field=form[field_name] %}{% for error in errors %}
            <li>{{ field.label.text }}: {{ error }}</li>{% endfor %}{% endwith %}{% endfor %}
        </ul>
    </div>
{% endif %}
<div class="ui attached segment">
    <form id="talkForm" method="post" class="ui {% if form.errors %}error {% endif %}form" novalidate>
        {{ form.csrf_token }}
        <div class="ui stackable grid">
            <div class="two column row">
                <div class="eight wide column">
                    <div class="field{% if form.title.errors %} error{% endif %}">
                        {{ form.title.label }}
                        {{ form.title(size=32) }}
                    </div>
                    <div class="field{% if form.description.errors %} error{% endif %}">
                        {{ form.description.label }}
                        {{ form.description() }}
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field{% if form.speaker_name.errors %} error{% endif %}">
                        {{ form.speaker_name.label }}
                        {{ form.speaker_name(size=32) }}
                    </div>
                    <div class="field{% if form.speaker_aboutme.errors %} error{% endif %}">
                        {{ form.speaker_aboutme.label }}
                        {{ form.speaker_aboutme() }}
                    </div>
                </div>
            </div>
            <div class="three column row">
                <div class="column">
                    <div class="field{% if form.start_timestamp.errors %} error{% endif %}">
                        {{ form.start_timestamp.label }}
                        <div class="ui calendar" id="start_timestamp">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                {{ form.start_timestamp() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field{% if form.end_timestamp.errors %} error{% endif %}">
                        {{ form.end_timestamp.label }}
                        <div class="ui calendar" id="end_timestamp">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                {{ form.end_timestamp() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field{% if form.collections.errors %} error{% endif %}">
                        {{ form.collections.label }}
                        {{ form.collections(class_='ui dropdown') }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="ui bottom attached segment">
    {{ form.submit(form='talkForm', class="ui button positive") }}
    <a class="ui button negative"href="{{ next }}">{{ _('Cancel') }}</a>
</div>
{% if not new %}
    <div id="historyModal" class="ui tiny longer modal">
        <div class="header">{{ _("History") }}</div>
        <div class="scrolling content">
            {% with history=talk.history %}
                {% include 'snippets/historyitems.html' %}
            {% endwith %}
        </div>
    </div>
    <div id="deleteModal" class="ui tiny longer modal">
        <div class="header">{{ _("Are you sure you want to delete this talk?") }}</div>
        <div class="actions">
            <a class="ui red labeled icon button" href="{{ url_for('core.delete_talk', id=talk.id) }}">
                <i class="trash alternate outline icon"></i>{{ _('Delete') }}
            </a>
            <div class="ui deny button">{{ _('Cancel') }}</div>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block script %}
<script>
    var descriptionMDE = new SimpleMDE({ element: $('#description')[0], });
    var aboutmeMDE = new SimpleMDE({ element: $('#speaker_aboutme')[0] });
    $('#historyModal').modal('attach events', '#historyModalTrigger', 'show');
    $('#deleteModal').modal('attach events', '#deleteModalTrigger', 'show');
    $('.ui.dropdown').dropdown();
    $('#start_timestamp').calendar({ ampm: false });
    $('#end_timestamp').calendar({ ampm: false });
</script>
{% endblock script %}