<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pygment_highlighting.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_uni_theme.css') }}">
              
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://unpkg.com/popper.js/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
        <script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://kit.fontawesome.com/302b6f4be5.js"></script>

        {% block head %}{% endblock head %}

    </head>
    <body>
        {% block body %}{% endblock body%}
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            // setup katex for use with 
            (function () {
                'use strict';
                var katexMath = (function () {
                    var maths = document.querySelectorAll('.arithmatex'), tex;
                    for (var i = 0; i < maths.length; i++) {
                        tex = maths[i].textContent || maths[i].innerText;
                        if (tex.startsWith('\\(') && tex.endsWith('\\)')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': false});
                        } else if (tex.startsWith('\\[') && tex.endsWith('\\]')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': true});
                        }
                    }
                });
                (function () {
                    var onReady = function onReady(fn) {
                        if (document.addEventListener) {
                            document.addEventListener("DOMContentLoaded", fn);
                        } else {
                            document.attachEvent("onreadystatechange", function () {
                                if (document.readyState === "interactive") {
                                    fn();
                                }
                            });
                        }
                    };
                    onReady(function () {
                        if (typeof katex !== "undefined") {
                            katexMath();
                        }
                    });
                })();
            }());
        </script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
