<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}
            {% if title %}{{ title }} - Talks.Tue{% else %}Talks.Tue{% endif %}
        {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.10.18/datatables.min.css" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://unpkg.com/popper.js/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.18/datatables.min.js" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="ui container">
            <div class="ui large menu borderless top">
                {% block navbar %}
                    <a class="item" href="{{ url_for('core.index') }}"><h3><i class="university icon"></i>&nbsp;Talks.Tue</h3></a>
                    {% if not current_user.is_anonymous %}
                        <a class="item" href="{{ url_for('auth.profile') }}">{{ _('Profile') }}</a>
                    {% endif %}
                    {% if current_user.can_edit %}
                        <div class="ui simple dropdown item">
                            {{ _("Admin") }}
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="{{ url_for('admin.talks') }}">{{ _('Talks') }}</a>
                                <a class="item" href="{{ url_for('admin.collections') }}">{{ _('Collections') }}</a>
                                {% if current_user.is_admin %}
                                    <a class="item" href="{{ url_for('admin.users') }}">{{ _('Users') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="right menu">
                        {% if current_user.is_anonymous %}
                            <a class="item" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                            <a class="item" href="{{ url_for('auth.register') }}">{{ _('Register') }}</a>
                        {% else %}
                            <a class="item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                        {% endif %}
                    </div>
                {% endblock navbar %}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="ui message {{ category if category != 'message' else 'info' }}">
                            <i class="close icon"></i>
                            <div class="header">{{ message }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock content%}
            <div class="ui menu secondary">
                <a class="ui button right item" href="#">{{ _('Back to top') }}</a>
            </div>
        </div>
        <script type="text/javascript">
            $('.message .close')
            .on('click', function() {
                $(this)
                .closest('.message')
                .transition('fade');
            });
            // setup katex for use with 
            (function () {
                'use strict';
                var katexMath = (function () {
                    var maths = document.querySelectorAll('.arithmatex'), tex;
                    for (var i = 0; i < maths.length; i++) {
                        tex = maths[i].textContent || maths[i].innerText;
                        if (tex.startsWith('\\(') && tex.endsWith('\\)')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': false});
                        } else if (tex.startsWith('\\[') && tex.endsWith('\\]')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': true});
                        }
                    }
                });
                (function () {
                    var onReady = function onReady(fn) {
                        if (document.addEventListener) {
                            document.addEventListener("DOMContentLoaded", fn);
                        } else {
                            document.attachEvent("onreadystatechange", function () {
                                if (document.readyState === "interactive") {
                                    fn();
                                }
                            });
                        }
                    };
                    onReady(function () {
                        if (typeof katex !== "undefined") {
                            katexMath();
                        }
                    });
                })();
            }());
        </script>
        {% block script %}
        {% endblock script %}
    </body>
</html>