<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}
            {% if title %}{{ title }} - Talks.Tue{% else %}Talks.Tue{% endif %}
        {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.10.18/r-2.2.2/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pygment_highlighting.css') }}">
 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://unpkg.com/popper.js/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="ui container">
            <div class="ui borderless top menu">
                <a class="item" href="{{ url_for('core.index') }}"><h3><i class="university icon"></i>&nbsp;Talks.Tue</h3></a>
                <div class="ui simple dropdown item">
                    {{ _("Browse") }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ url_for('core.talks') }}">{{ _('Talks') }}</a>
                        <a class="item" href="{{ url_for('core.collections') }}">{{ _('Collections') }}</a>
                        {% if current_user.is_admin %}
                            <a class="item" href="{{ url_for('core.users') }}">{{ _('Users') }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="right menu">
                    <div class="ui simple dropdown item">
                        <i class="bars icon"></i>
                        <div class="menu">
                            {% if current_user.is_anonymous %}
                                <a class="item" href="{{ url_for('auth.login') }}?next={{ request.path }}">{{ _('Login') }}</a>
                                <a class="item" href="{{ url_for('auth.register') }}">{{ _('Register') }}</a>
                            {% else %}
                                <a class="item" href="{{ url_for('auth.profile') }}">{{ _('Profile') }}</a>
                                <a class="item" href="{{ url_for('auth.subscriptions') }}">{{ _('Upcoming talks') }}</a>
                                <a class="item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if breadcrumbs %}
                    <div class="ui breadcrumb">
                        {% for target, breadcrumb in breadcrumbs %}
                            {% if not loop.last %}
                                <a href="{{ url_for(*target) }}">{{ breadcrumb }}</a>
                                <i class="right angle icon divider"></i>
                            {% else %}
                                <div class="active section">{{ breadcrumb }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages or form and form.errors %}
                    {% for category, message in messages %}
                        <div class="ui message {{ category if category != 'message' else 'info' }}">
                            <i class="close icon"></i>
                            <div class="header">{{ message }}</div>
                        </div>
                    {% endfor %}
                    {% if form and form.errors %}
                        <div class="ui error message">
                            <i class="close icon"></i>
                            <div class="header">{{ _("Errors") }}</div>
                            <ul>{% for field_name, errors in form.errors.items() %}{% with field=form[field_name] %}{% for error in errors %}
                                <li>{{ field.label.text }}: {{ error }}</li>{% endfor %}{% endwith %}{% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock content%}
            <div class="ui menu secondary">
                <span class="ui small grey text item">Talks.Tue v{{ config.VERSION }}</span>
                <a class="ui button right item" href="#">{{ _('Back to top') }}</a>
            </div>
        </div>
        <script type="text/javascript">
            $('.message .close')
            .on('click', function() {
                $(this)
                .closest('.message')
                .transition('fade');
            });
            // setup katex for use with 
            (function () {
                'use strict';
                var katexMath = (function () {
                    var maths = document.querySelectorAll('.arithmatex'), tex;
                    for (var i = 0; i < maths.length; i++) {
                        tex = maths[i].textContent || maths[i].innerText;
                        if (tex.startsWith('\\(') && tex.endsWith('\\)')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': false});
                        } else if (tex.startsWith('\\[') && tex.endsWith('\\]')) {
                            katex.render(tex.slice(2, -2), maths[i], {'displayMode': true});
                        }
                    }
                });
                (function () {
                    var onReady = function onReady(fn) {
                        if (document.addEventListener) {
                            document.addEventListener("DOMContentLoaded", fn);
                        } else {
                            document.attachEvent("onreadystatechange", function () {
                                if (document.readyState === "interactive") {
                                    fn();
                                }
                            });
                        }
                    };
                    onReady(function () {
                        if (typeof katex !== "undefined") {
                            katexMath();
                        }
                    });
                })();
            }());
        </script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
